*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Arial,sans-serif;
  background:#f8f7ff;
  color:#444;
}

/* Navbar */

.navbar{
  position:fixed;
  top:0;
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 10%;

  background:white;

  box-shadow:0 2px 10px rgba(0,0,0,0.05);

  z-index:1000;
}

.nav-links{
  display:flex;
  gap:25px;
}

.nav-links a{
  text-decoration:none;
  color:#444;
  font-weight:bold;
}

/* Hero */

.hero{
  min-height:100vh;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:120px 10%;
}

.hero-content{
  max-width:600px;
}

.hero h1{
  font-size:4rem;
}

.hero h3{
  color:#9b6cff;
  margin:15px 0;
}

.hero p{
  margin:20px 0;
  line-height:1.6;
}

button{
  padding:12px 28px;
  border:none;
  border-radius:30px;

  background:#cdb4db;
  cursor:pointer;
}

.profile-img{
  width:300px;
  height:300px;

  object-fit:cover;

  border-radius:50%;

  border:6px solid white;

  box-shadow:0 0 30px rgba(0,0,0,0.1);
}

/* Sections */

.section{
  padding:100px 10%;
}

.section h2{
  margin-bottom:30px;
  text-align:center;
}

/* Cards */

.card-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:white;

  padding:25px;

  border-radius:20px;

  text-align:center;

  box-shadow:0 4px 12px rgba(0,0,0,0.08);

  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
}

/* Footer */

footer{
  text-align:center;
  padding:30px;
  background:#1d1d1d;
  color:white;
}